@import 'index.css';

/* Left To Right Animation ====================================================================================================== */

.left-to-middle  {animation-name: leftToMiddle;  animation-duration: 2s;}
.middle-to-right {animation-name: middleToRight; animation-duration: 2s;}
.right-to-none   {animation-name: rightToNone;   animation-duration: 2s;}
.none-to-left    {animation-name: noneToLeft;    animation-duration: 2s;}
.left-to-right   {animation-name: leftToRight;   animation-duration: 2s;}


@keyframes leftToRight {
	from {}
	to {transform: translateX(38rem)}
}

@keyframes leftToMiddle {
	from {transform: matrix3d(var(--left-position))}
	to   {transform: matrix3d(var(--middle-position))}
}

@keyframes middleToRight {
	from {ransform: matrix3d(var(--middle-position))}
	to   {transform: matrix3d(var(--right-position))}
}

@keyframes rightToNone {
	from {transform: matrix3d(var(--right-position));      opacity: 1;}
	to   {transform: matrix3d(var(--right-none-position)); opacity: 0;}
}

@keyframes noneToLeft {
	from {transform: matrix3d(var(--left-none-position)); opacity: 0;}
	to   {transform: matrix3d(var(--left-position));      opacity: 1;}
}

/* Right To Left Animation ====================================================================================================== */

.right-to-left   {animation-name: rightToLeft;   animation-duration: 2s;}
.right-to-middle {animation-name: rightToMiddle; animation-duration: 2s;}
.middle-to-left  {animation-name: middleToLeft;  animation-duration: 2s;}
.left-to-none    {animation-name: leftToNone;    animation-duration: 2s;}
.none-to-right   {animation-name: noneToRight;   animation-duration: 2s;}


@keyframes rightToLeft {
	from {}
	to   {transform: translateX(-38rem)}
}

@keyframes rightToMiddle {
	from {transform: matrix3d(var(--right-position))}
	to   {transform: matrix3d(var(--middle-position))}
}

@keyframes middleToLeft {
	from {transform: matrix3d(var(--middle-position))}
	to   {transform: matrix3d(var(--left-position))}
}

@keyframes leftToNone {
	from {transform: matrix3d(var(--left-position));      opacity: 1;}
	to   {transform: matrix3d(var(--left-none-position)); opacity: 0;}
}

@keyframes noneToRight{
	from {transform: matrix3d(var(--right-none-position)); opacity: 0;}
	to   {transform: matrix3d(var(--right-position));      opacity: 1;}
}
