* {
	color: white;
}

body {
	background-color: #1a153d;
}

.App {
	display: grid;
  font-family: sans-serif;
}

.title{
	text-align: center;
	margin-right: 1rem;
}

.contents--container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20vh;
}

.content--container {
	background-color: #0d0b1e;
	display: flex;
	height: 15.5rem;
	width: 38rem; 
	border-radius: 1rem;
	cursor: pointer;
}

.container-left--none {display: none;}
.container-left {transform: matrix3d(1, 0, 0, -0.0005, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) scale(0.85);}
.container-middle {}
.container-right {transform: matrix3d(1, 0, 0, 0.0005, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) scale(0.85);}
.container-right--none {display: none;}


.weather-img{
	height: 11.5rem;
	margin-top: 1.9rem;
	margin-left: 1.5rem;
}

.text-content{
	margin-top: 1.8rem;
	margin-left: 3rem;
	font-size: 90%;
}
