:root {
	--middle-position: 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1;
	--left-position: 1, 0, 0, -0.0005, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.2;
	--right-position: 1, 0, 0, 0.0005, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1.2;
	--left-none-position: 0.5, 0,	0, -0.002, 0, 1, 0, 0, 0, 0, 1, 0, 200, 0, 0, 1.5;
	--right-none-position: 0.5, 0, 0, 0.002,0, 1, 0, 0, 0, 0, 1, 0, -200, 0, 0, 1.5;
}

* {
	color: white;
}

body {
	background-color: #1a153d;
	width: auto;
	overflow: hidden;
}

.App {
	display: grid;
  font-family: sans-serif;
  margin-left: -35rem;
}

.title{
	text-align: center;
	margin-right: 1rem;
}

.contents--container {
	display: flex;
	margin-top: 20vh;
}

.content--container {
	background-color: rgba(13, 11, 30, 0.5);
	display: flex;
	height: 15.5rem;
	width: 38rem; 
	border-radius: 1rem;
}

.container-middle {transform: matrix3d(var(--middle-position));}
.container-left  {transform: matrix3d(var(--left-position)); 	cursor: pointer;}
.container-right {transform: matrix3d(var(--right-position)); cursor: pointer;}
.container-left--none  {transform: matrix3d(var(--left-none-position));  opacity: 0;}
.container-right--none {transform: matrix3d(var(--right-none-position)); opacity: 0;}


.weather-img{
	height: 11.5rem;
	margin-top: 1.9rem;
	margin-left: 1.5rem;
}

.text-content{
	margin-top: 1.8rem;
	margin-left: 3rem;
	font-size: 90%;
}
